# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OS X `ls`
  colorflag="-G"
fi

# Shell helpers
alias c="clear"
alias h="history"

alias e="$EDITOR"
alias v="$VISUAL"

# Neovim as Vim
alias vim='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim'

# Enable aliases to be sudo’ed
alias sudo="sudo "

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Directory shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

# Edit files
alias hosts="sudo $EDITOR /etc/hosts"

# Color output for `ls`
alias ls="command ls ${colorflag}"

# List all files colorized in long format, excluding hidden files
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, including hidden files
alias ll="ls -laF ${colorflag}"

# List only directories
alias ld="ls -lF ${colorflag}"

# Tail
alias tlf="tail -f"

# Copy current path to clipboard
alias copypath="pwd | pbcopy"

# Make a directory (if it doesn't already exist)
alias mkdir="mkdir -p"

# Bundler
alias b="bundle"
alias be="bundle exec"

# Rails
alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias m="migrate"
alias rk="rake"



# Reload shell
alias reload="source ~/.bash_profile"

# Pretty print $PATH
alias path='echo $PATH | tr -s ":" "\n"'

# Ping
alias ping="ping -c 20"

# Show/hide hidden files in Finder
alias showall="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hideall="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Enable/disable Spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# IP addresses
alias ip="curl ipecho.net/plain ; echo"
alias localip="ipconfig getifaddr en0"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias dscleanup="find . -type f -name '*.DS_Store' -ls -delete"

# View HTTP traffic
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="lwp-request -m '$method'"
done

# Get OS X Software Updates, Homebrew, NPM, and their installed packages
alias sysup="softwareupdate -i -a; brew update; brew upgrade; brew cu; brew cleanup; npm install npm -g; npm update -g;"

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
